<div class="menu-toggle" (click)="alternarMenu()">
    <span class="material-symbols-outlined">menu</span>
</div>

<nav class="main-menu" [class.open]="menuAberto">

    <h1>
        <img src="assets/img/FAVEP_LOGO_nobg.png" alt="Logo FAVEP" class="header-logo-img"> FAVEP - Gestão Agrícola
    </h1>
    <a routerLink="/home" routerLinkActive="active">
        <span class="material-symbols-outlined">home</span> Home
    </a>
    <a routerLink="/gerenciamento" routerLinkActive="active">
        <span class="material-symbols-outlined">dashboard</span> Gerenciamento
    </a>
    <a routerLink="/estatistica" routerLinkActive="active">
        <span class="material-symbols-outlined">monitoring</span> Estatística
    </a>
    <a *ngIf="podeAcessarRelatorios" routerLink="/relatorio" routerLinkActive="active">
        <span class="material-symbols-outlined">overview</span> Relatório geral
    </a>

     <div class="menu-item-dropdown" [class.open]="submenuAberto">
            <a (click)="toggleSubmenu()" [class.active]="isConfigActive()">

                <div class="user-info-wrapper">
                    <img [src]="usuarioFoto" [alt]="'Foto de ' + usuarioNome" class="user-avatar" alt="hugenerd" width="30" height="30">
                    <span>{{ usuarioNome }}</span>
                </div>

                <span class="material-symbols-outlined dropdown-icon">
                    keyboard_arrow_up
                </span>
            </a>

            <ul class="submenu">
                <li *ngIf="podeAdicionarMembros">
                    <a routerLink="/adicionar-usuario" routerLinkActive="active">
                        <span class="material-symbols-outlined">person_add</span> Colaboradores
                    </a>
                </li>

                <li *ngIf="podeGerenciarPagamentos">
                    <a routerLink="/plano-assinatura" routerLinkActive="active">
                        <span class="material-symbols-outlined">credit_card</span>Trocar Plano
                    </a>
                </li>

                <li>
                    <a routerLink="/usuario" routerLinkActive="active">
                        <span class="material-symbols-outlined">account_circle</span> Perfil
                    </a>
                </li>

                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a (click)="logout()" class="logout-link"> <span class="material-symbols-outlined">logout</span>Sair</a></li>
            </ul>
    </div>
</nav>

<div class="menu-overlay" [class.open]="menuAberto" (click)="alternarMenu()"></div>
