<div class="estilos-fundo">
  <app-menu-cima></app-menu-cima>

  <div class="painel">
    <div class="overlay">
      <h1>FAVEP</h1>
      <p class="credit">Um site para gerenciar sua propriedade com facilidade</p>
      <a href="contato" class="btn">CONTATE-NOS</a>
    </div>
  </div>

  <!-- Serviços -->
  <section class="services" id="services">
    <div class="card">
      <div class="icon" style="color: #28a745;">
        <i class="fas fa-chart-line"></i>
      </div>
      <h3>Estatísticas</h3>
      <p>Utiliza análise de dados avançada para transformar informações da sua propriedade em insights práticos.</p>
      <a routerLink="/estatistica" class="mais">Analisar dados</a>
    </div>
    <div class="card">
      <div class="icon" style="color: #ff6347;">
        <i class="fas fa-cogs"></i>
      </div>
      <h3>Gerenciamento</h3>
      <p>Oferece ferramentas inteligentes para gerenciar sua propriedade com eficiência, simplicidade e agilidade. </p>
      <a routerLink="/gerenciamento" class="mais">Gerenciar agora</a>
    </div>
    <div class="card">
      <div class="icon" style="color: #007bff;">
        <i class="fas fa-file-alt"></i>
      </div>
      <h3>Relatórios</h3>
      <p>Transforma dados complexos da sua propriedade em informações claras e acionáveis.</p>
      <a routerLink="/relatorio" class="mais">Transformar agora</a>
    </div>
    <div class="card">
      <div class="icon" style="color: #ffc107;">
        <i class="fas fa-handshake"></i>
      </div>
      <h3>Parceiros</h3>
      <p>Acredita que parcerias estratégicas são essenciais para oferecer as melhores soluções em gestão agrícola.</p>
      <a routerLink="/parceiros" class="mais">Nossos parceiros</a>
    </div>
  </section>

  <!-- Estatísticas -->
  <section class="servico">
    <div class="texto1">
      <h1>Estatísticas</h1>
      <ul>
        <li>O FAVEP utiliza análise de dados avançada para transformar informações da sua propriedade em insights práticos. Com relatórios inteligentes, você pode:</li>
        <li> 📈 Monitorar produtividade (safras, rebanho, custos)</li>
        <li>🌱 Identificar padrões (melhores épocas para plantio, eficiência de insumos)</li>
        <li>💰 Tomar decisões estratégicas com base em dados reais</li>
      </ul>
    </div>
    <div class="imagem">
      <img src="assets/img/telaesta.jpg" alt="Dashboard em notebook">
    </div>
  </section>

  <!-- Gerenciamento -->
  <section class="servico1">
    <div class="imagem">
      <img src="assets/img/telager.jpg" alt="Dashboard em notebook">
    </div>
    <div class="texto">
      <h1>Gerenciamento</h1>
      <ul>
        <li>O FAVEP oferece ferramentas inteligentes para gerenciar sua propriedade com eficiência e simplicidade. Centralize todas as operações e tome decisões estratégicas com base em dados precisos.</li>
        <li> ✅ Controle Integrado - acompanhe atividades agrícolas, estoque, finanças e recursos em um único lugar.</li>
        <li> ✅ Otimização de Recursos</li>
        <li> ✅ Gestão Financeira</li>
        <li> ✅ Planejamento Estratégico Programe safras, manejo animal e manutenções com calendários personalizados. </li>
        <li> ✅ Acesso Remoto Transforme dados em resultados!</li>
      </ul>
    </div>
  </section>

  <!-- Relatórios -->
  <section class="servico">
    <div class="texto1">
      <h1>Relatórios</h1>
      <ul>
        <li>O módulo de Relatórios do FAVEP transforma dados complexos da sua propriedade em informações claras e acionáveis, facilitando a análise e a tomada de decisões estratégicas.</li>
        <li> 📊 Relatórios Personalizados - Gere documentos sob medida para acompanhar produtividade, finanças, estoque e mais.</li>
        <li>📅 Análises Temporais - Compare desempenho entre períodos (safras, meses, anos) e identifique tendências.</li>
        <li>🌱 Gestão Agrícola Detalhada - Acompanhe custos de insumos, rendimento por cultura e eficiência operacional.</li>
        <li>💵 Controle Financeiro - Visualize receitas, despesas e lucratividade em gráficos e tabelas intuitivas.</li>
        <li>🔄 Exportação Simplificada - Compartilhe relatórios em PDF, Excel ou CSV com parceiros e técnicos.</li>
      </ul>
    </div>
    <div class="imagem">
      <img src="assets/img/telarela.jpg" alt="Dashboard em notebook">
    </div>
  </section>

  <!-- Parceiros -->
  <section class="parceiros-section">
    <div class="container">
      <div class="parceiros-home-titulo">
        <h1>Parceiros em Destaque</h1>
        <p>Colaboramos com os melhores para impulsionar seus resultados.</p>
      </div>

      <!-- Carrossel de Logos -->
      <div class="carousel">
        <div class="carousel-track">
         
          <img src="../../assets/img/agrovital.png" alt="Amazon">
          <img src="../../assets/img/terraviva.png" alt="Flutter">
          <img src="../../assets/img/FAVEP_LOGO.png" alt="Vue.js">
          <img src="../../assets/img/Sementinha.png" alt="Tailwind">

          <img src="../../assets/img/agrovital.png" alt="Amazon">
          <img src="../../assets/img/terraviva.png" alt="Flutter">
          <img src="../../assets/img/FAVEP_LOGO.png" alt="Vue.js">
          <img src="../../assets/img/Sementinha.png" alt="Tailwind">

          <img src="../../assets/img/agrovital.png" alt="Amazon">
          <img src="../../assets/img/terraviva.png" alt="Flutter">
          <img src="../../assets/img/FAVEP_LOGO.png" alt="Vue.js">
          <img src="../../assets/img/Sementinha.png" alt="Tailwind">
        </div>
      </div>

      <div class="ver-todos-container">
        <a routerLink="/parceiros" class="btn btn-parceiros">Ver Todos os Parceiros</a>
      </div>
    </div>
  </section>

  <app-assinatura></app-assinatura>
  <app-footer></app-footer>
</div>
