<div class="password-container">
  <form (ngSubmit)="onSubmit()" #passwordForm="ngForm" class="password-form">
    <h2>Definir Senha</h2>
    <p>Crie uma senha forte para proteger sua conta.</p>

    <div style="padding: 15px; background-color:#beab00; border: 1px solid #ffeeba; border-radius: 5px; margin-bottom: 20px;">
        <p> <strong>ATENÇÃO: </strong> A senha deve conter um caracter especial (&#64;, #),<br> Letra maiúscula, minúscula e número</p>
    </div>

    <div class="input-group">
      <label for="senha">Senha</label>
      <input 
        [type]="senhaVisivel ? 'text' : 'password'" 
        id="senha" 
        name="senha" 
        [(ngModel)]="senha" 
        placeholder="Digite sua nova senha"
        required>
      <i 
        class="fas password-visibility-icon"
        [ngClass]="{'fa-eye-slash': senhaVisivel, 'fa-eye': !senhaVisivel}"
        (click)="toggleSenhaVisibilidade()"></i>
    </div>

    <div class="input-group">
      <label for="confirmarSenha">Confirmar Senha</label>
      <input 
        [type]="confirmarSenhaVisivel ? 'text' : 'password'" 
        id="confirmarSenha" 
        name="confirmarSenha" 
        [(ngModel)]="confirmarSenha"
        placeholder="Confirme sua nova senha"
        required>
      <i 
        class="fas password-visibility-icon"
        [ngClass]="{'fa-eye-slash': confirmarSenhaVisivel, 'fa-eye': !confirmarSenhaVisivel}"
        (click)="toggleConfirmarSenhaVisibilidade()"></i>
    </div>

    <button type="submit" class="submit-button" [disabled]="!passwordForm.valid">
      Enviar
    </button>
    
    <div class="message error" *ngIf="mensagemErro">{{ mensagemErro }}</div>
    <div class="message success" *ngIf="mensagemSucesso">{{ mensagemSucesso }}</div>
  </form>
</div>