html {
  font-size: 100%; /* Isso equivale geralmente a 16px */
  transition: font-size 0.3s ease; /* Transição suave ao clicar no botão */
}

/* Garanta que o corpo herde ou use rem */
body {
  font-size: 1rem; 
}